<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://streamix.app/tv"
        version="1.0.0" viewmodes="maximized">
    <tizen:application id="EI8qhrd7xh.streamix" package="EI8qhrd7xh" required_version="6.0"/>
    <content src="index.html"/>

    <!-- Screen features -->
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>

    <!-- Network access -->
    <access origin="*" subdomains="true"/>

    <!-- Privileges -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>

    <!-- App info -->
    <icon src="icon.png"/>
    <name>Streamix</name>
    <description>IPTV Streaming App for Samsung Smart TV - LightningJS Edition</description>
    <author>Streamix</author>

    <!-- TV profile - use "tv" not "tv-samsung" -->
    <tizen:profile name="tv"/>

    <!-- Settings -->
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable"
                   install-location="auto" hwkey-event="enable"/>

    <!-- Background category for media playback -->
    <tizen:background-category value="media"/>

    <!-- Content Security Policy - REQUIRED for WebGL workers.
         On Tizen (file://), the origin becomes "null", so XHR for local
         resources (MSDF fonts, atlases) requires 'self' * file: etc. -->
    <tizen:content-security-policy>
        default-src 'self' file: filesystem: data: blob:;
        script-src 'self' file: filesystem: 'unsafe-inline' 'unsafe-eval' blob:;
        style-src 'self' file: filesystem: 'unsafe-inline';
        img-src 'self' file: filesystem: https: http: data: blob:;
        media-src 'self' file: filesystem: https: http: blob:;
        connect-src 'self' file: filesystem: https: http: wss: ws: data: blob:;
        font-src 'self' file: filesystem: https: http: data: blob:;
        worker-src 'self' file: filesystem: blob:;
        object-src 'none';
    </tizen:content-security-policy>

    <!-- Metadata -->
    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="6.0"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"/>
</widget>
